{
	"env": {
		"browser": true,
		"es2021": true
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "tsconfig.json",
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"extends": [
		"plugin:react/recommended",
		"airbnb-typescript"
	],
	"plugins": [
		"react",
		"@typescript-eslint"
	],
	"rules": {
		"indent": "off",
		"@typescript-eslint/indent": [
			"error",
			"tab"
		],
		"react/jsx-indent": [
			"error",
			"tab"
		],
		"no-tabs": "off"
	}
}